.footer{width:100%;min-height:150px;background-color:#757575}.footer-block{max-width:975px;margin:auto;padding-top:20px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}.footer-text{margin-bottom:20px;max-width:400px;margin-right:20px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.footer-block__h3{color:#fff}.footer-block__p{margin-top:10px;font-size:.875rem;color:#fff}.dealer{margin-top:-7px;max-width:300px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;text-align:right;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.download-contract{color:#fff}.download-contract:hover{text-decoration:underline}@media screen and (max-width:720px){.footer-text{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.dealer{margin-top:30px;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.footer-block__p{text-align:center;margin-top:20px}}
.section-11-content-itm_soc {
	display: flex;
	
	padding-top: 20px;
	justify-content: center;
	
}
.section-11-content-itm_soc__block-a-img {
	padding-left: 20px;
	padding-right: 20px;
	width: 40px;
	height: 40px;
}
