/*Общие стили всех страниц*/
h1 {
	color: black;
}
.content {
	max-width: 975px;
	padding: 10px;
	margin: auto;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.itm-block {
	padding: 10px 20px;
	border: 1px solid rgba(192, 192, 192, 1);
	box-shadow: 0 0 5px 0 rgba(20,20,21,.2);
}

.feature {
	color: #ED1C24;
}
.question-button {
	background-color: rgba(0, 153, 255, 0.63);
	font-size: 1rem;
	box-shadow: 0 0 5px 0 rgba(20,20,21,.2);
	text-align: center;
	color: #FFFFFF;
	padding: 15px 0 15px 0;
	margin-top: 10px;
	margin-bottom: 15px;
	transition: 0.4s ease 0s;
}
.question-button:hover {
	background-color: rgba(0, 136, 203, 1);
	transition: 0.4s ease 0s;
}

/*Почему выбирают нас Начало*/

.production-why-block {
	position: relative;
	top: 70px;

}

.production-why-block__tagline {
 	padding-top: 2%;
	text-align: center;
	width: 100%;
	background-image: url(/img/Why-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	box-sizing: border-box;
}

.production-why-block__tagline_text {
	color: white;
	font-size: 2rem;
	font-weight: bold;
}

.production-why-block__content {
	width: 100%;
	margin-top: 50px;
}

/*Контент страницы*/

.content_why-block {
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:auto;
}

.why-block-itm {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
	min-height: 410px;
	font-size: 0.875rem;
	margin-bottom: 20px;
	color: black;
	margin-right: 20px;
	margin-top: 20px;
	box-sizing: border-box;
}
.why-block-itm:last-child {
	margin-right: 0px;
}
.why-block-itm__img {
	margin-top: 20px;
	border-radius: 50%;
	border: 2px solid rgba(192, 192, 192, 1);
	margin-bottom: 30px;
}

.why-block-itm__text {
	margin-top: 20px;
	text-align: center;
}
/*Товары*/
.prod-itm {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	
	align-items: center;
	flex-wrap: wrap;
	padding-top: 20px;
}
.prod-itm__img-live,
.prod-itm__img {
	height: 200px;
	width: 250px;
	margin-right: 20px;
	margin-left: 20px;
}
.prod-itm__img-live {
	margin-right: 50px;
}
.prod-itm__img {
	margin-right: 0px;
}
.prod-itm__text {
	text-align: center;
	width: 33%;
	margin-right: 20px;
}
.prod-itm__text-name {

}
.items-prod {
	margin-top: 50px;
}
.prod-section {
	margin-bottom: 70px;
}


.prod-itm__text-specification {
	
	margin-top: 50px;
	margin-bottom: 20px;
}
.prod-itm-price {
	
	padding-left: 5px;
	padding-top: 5px;
	margin-top: 20px;
	width: 100%;
	height: 50px;
	font-size: 1.6875rem;
	color: white;
	box-sizing: border-box;
}
.prod-itm-price_color-blue {
	background: rgba(0,153,255,.63);
}	
.prod-itm-price_color-purple {
	background: rgb(160, 0, 159);
}
.prod-itm-price_color-sand {
	background: rgb(242, 206, 97);
}
.prod-itm:last-child {
	margin-bottom: 50px;
}
.navigation-anchor {
	text-align: center;
	
	width: 120px;
	position: fixed;
	right: 0px;
	top: 40%;
	
	box-sizing: border-box;
}
.navigation-anchor__link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
	height: 60px;
	width: 120px;
	box-sizing: border-box;
	transition: 0.3s;
	margin-bottom: 5px; 
	border: 1px solid rgba(192, 192, 192, 1);
}
.prod-itm-price_color-blue_hover:hover {
	background: #0089e5;
}
.prod-itm-price_color-purple_hover:hover {
	background: #90008f;
}
.prod-itm-price_color-sand_hover:hover {
	background: #d9b957;
}
/*FIX*/
.itm-block_fix-prod-padding {
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.footer {
	width: 100%;
	min-height: 150px;
	background-color: rgba(117, 117, 117, 1);
}
.footer-block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.footer-text {
	margin-right: 20px;
	display: flex;
	flex-direction: column;

}
.footer-block__h3 {
	color: white;
}
.footer-block__p {
	margin-top: 10px;
	font-size: 0.875rem;
	color: white;
}
.dealer {
	display: flex;
	text-align: right; 
	flex-direction: column;
}
.download-contract {
	color: white; 
}
.download-contract:hover {
	text-decoration: underline;
}
.prod-itm__text {
    text-align: left;
}
.katrina-form-block {
	margin-top: 50px;
}
.form-katrina {
	max-width: 600px;
	margin: auto;
	padding:10px 5% 10px 5%;
	
}
.form-katrina__right {
	width: 100%;
	margin-top: 10px;
	font-family: Open Sans;
}

.form-katrina__left_text {
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	box-sizing: border-box;
}
.submit {
	width: 100%;
	padding: 5px;
	margin-top: 20px;
	background: white;
}
.submit:focus {
	background: #7FCCFF;

}
@media screen and (max-width: 1366px) {
	
	
}
@media screen and (max-width: 1280px) {
	.navigation-anchor {
		display: none;
	}
	.why-block-itm {
		width: 100%;
		margin-right: 0px;
		min-height: 380px;
	}
	.why-block-itm__text {
	font-size: 0.75rem;
	text-align: center;
	}
	
}
@media screen and (max-width: 960px) {
	.prod-itm__img-live {
		display: none;
	}
	.prod-itm {
		justify-content: space-around;
	}
	.why-block-itm {
		max-width: 100%;
		margin-right: 0px;
		min-height: 320px;
	}
}
@media screen and (max-width: 720px) {
	.why-block-itm {
		max-width: 100%;
		margin-right: 0px;
		min-height: 320px;
	}
	.prod-itm {
		justify-content: space-around;
	}
	.prod-itm__text {
		font-size: 0.875rem;
		margin-left: 20px;
	}
	.prod-itm__img {
		width: 180px;
	}
	
	.why-block-itm {
		max-width: 100%;
			
	}
	.content_why-block {
		justify-content: center;
	}
}

@media screen and (max-width: 640px) {
	.prod-itm {

	}
	.menu__head:nth-child(6) {
	display: none;
	}
	.logo {
		width: 100px;
	}
	.slide-specification {

	margin-left: 20px;
	max-width: 260px;

	}
	.phone__number {
	font-size: 0.625rem;
}

	
}
.section-11-content-itm_soc {
	display: flex;
	
	padding-top: 20px;
	justify-content: center;
	
}
.section-11-content-itm_soc__block-a-img {
	padding-left: 20px;
	padding-right: 20px;
	width: 40px;
	height: 40px;
}

